/*define a cor do site*/
body {
    background-color: rgb(216, 215, 204);
}
body div {
    text-align: center;
    
}
/*define tamanho, fonte e posição do h1 */
.perfil h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
/* define tamanho e posição da foto de perfil*/
.perfil img {
    width: 200px;
    margin: auto;
    display: block;
}
.sobre-mim  {
    background-color: gray;
    margin: 2%;
    margin-left: 650px;
    width: 200px;
}
.habilidades {
    background-color: gray;
    margin: 5%;
    margin-left: 1100px;
    
    width: 200px;
    display: block;
}

.linkedin img {
    width: 100px;
    margin-left: 400px;
}
.git-hub img {
    width: 100px;
    margin-right: 400px;
}

