/* define os padrões do header como cor e posição */
.perfil {
    display: flexbox;
    text-align: center;
}
/* define os padrões do h1 do header */
.perfil h1 {
    justify-content: center;
}
/* define tamanho da foto de perfil */
.perfil img {
   width: 300px;
}
/* difene padrões do artigo sobre mim */
.sobre-mim {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
}
/* define quebre de list style para as listas nao ordenadas do aticle sobre mim */
.sobre-mim ul {
    list-style: none;
}
/* define os padroões de articles habilidades */
.habilidades {
    display: flex;
    justify-content: center;
    padding: 40px;
}
/* define quebra de list style e padrão do texto das listas de hanilidades */
.habilidades ul {
    list-style: none;
    text-align: center;
}
/* define posição do aside contato */
.contato {
    display: flex;
    justify-content: center;
    padding: 80px;
}
nav {
    width: 300px;
    padding: 1%;
}
.linkedin {
    width: 150px;
}
.linkedin img {
    width: 130px;
}
.email {
    width: 10px;
}
.email img {
    height: 33px;
}
.git-hub {
    width: 100px;
}
.git-hub img {
    width: 110px;
}
/* define padrões para o footer */
.rodape {
    display: flex;
    text-align: center;
    justify-content: center;
}






