.nav-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.h3-header-main {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 1rem;
  cursor: pointer;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3-header-main:hover {
  background-color: var(--bg-oppacity);
  border-radius: 5px;
}

.active {
  border-bottom: 3px solid var(--pink);
  color: white;
}

.links-main {
  text-decoration: none;
  color: grey;
}

@media screen and (max-width: 407px) {
  .h3-header-main {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 451px) {
  .h3-header-main {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 610px) {
  .h3-header-main {
    font-size: 1rem;
  }
}
