.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 30px auto 0;
    padding: 20px;
    border-radius: 5px;
    gap: 10px;
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;

}

.form-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
  width: 100%;

}

.form-email label {
  align-self: center;
}

.form-email input, textarea  {
  padding: 10px;
  border-radius: 5px;

}

.form-email input:focus {
  outline: none;
  border: 3px solid var(--pink);
}

.form-email input::placeholder {
  color: var(--purple));
}


.form-email textarea:focus {
  outline: none;
  border: 3px solid var(--pink);
}

.form-email textarea::placeholder {
  color: var(--purple);
}

.required {
  color: var(--pink);
}

.submit-email-btn {
  padding: 10px;
  border-radius: 5px;
  border: 3px solid var(--pink);
  background-color: var(--pink);
  color: var(--font-color)
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.submit-email-btn:hover {
  background-color: var(--purple);
  border: 3px solid var(--purple);
}

.submit-email-btn:disabled {
  background-color: grey;
  border: 3px solid grey;
  cursor: not-allowed;
}

