.cover-page {
  width: 50%;
  margin: 50px auto 0;

}

.profile-container {
  width: 50%;
  margin: 0 auto;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}

/* preciso deixar responsiva */
.profile-image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  position: absolute;
  top: -75px;
  left: 30px;
}

.profile-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.profile-name {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 10px 15px;
}

.profile-about {
  font-size: 1.25rem;
  margin: 5px 20px;
}

.profile-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

/* medida para laptops de 1000px até 1500px */
@media (max-width: 1500px) {
  .profile-image {
    width: 6rem;
    height: 6rem;
    top: -50px;
    left: 30px;
  }

  .profile-buttons {
    width: 50%;
    position: absolute;
    right: 0;
    top: 10px;
  }

  .profile-name {
    font-size: 1.2rem;
  }

  .profile-about {
    font-size: 0.7rem;
  }

  .profile-icons {
    width: 50%;
    margin: 0 auto;
    font-size: 0.8rem;
  }
}

/* medidas para tablets de 768px até 1000px */
@media (max-width: 1000px) {
  .profile-image {
    width: 5rem;
    height: 5rem;
    top: -40px;
    left: 20px;
  }

  .profile-buttons {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .profile-buttons button {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
  }

  .profile-name {
    font-size: 1rem;
  }

  .profile-about {
    font-size: 0.75rem;
  }

  .profile-icons {
    width: 50%;
    margin: 0 auto;
    font-size: 1rem;
  }
}

/* medidas para dispositivos moveis abaixo de 768 px*/
@media (max-width: 768px) {
  .profile-image {
    width: 4rem;
    height: 4rem;
    top: -30px;
    left: 20px;
  }

  .profile-buttons {
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .profile-buttons button {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
  }

  .profile-name {
    font-size: 1rem;
  }

  .profile-about {
    font-size: 0.75rem;
  }

  .profile-icons {
    width: 50%;
    margin: 0 auto;
    font-size: 1rem;
  }
}
